In [14]:
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

import datetime as dt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from PyFinance import (
    generate_random_portfolio,
    simulate_portfolios,
)

%matplotlib notebook

In [15]:
generate_random_portfolio()

NameError: name 'random' is not defined

In [2]:
config = {
    'user':'root',
    'password':'Tamamasheer0',
    'mysql_db':'localhost/stock_data'
}

In [3]:
# Create MySQL Database Connection String
connection = f'mysql://{config["user"]}:{config["password"]}@{config["mysql_db"]}'
connection

'mysql://root:Tamamasheer0@localhost/stock_data'

In [4]:
# Establish Connection to Database Using SQLAlchemy
engine = create_engine(connection, echo=False)
Base = automap_base()
Base.prepare(engine, reflect=True)
session = Session(bind=engine)

In [5]:
# Raw SQL String Query
raw_sql = f'SELECT Date, MSFT, JPM, HAL \
            FROM stock_data.closing_prices'

# Execute Raw SQL String Query (Returns List)
qry_return = engine.execute(raw_sql).fetchall()
print(f'[Type] Query Return: {type(qry_return)}')
qry_return[:10]

[Type] Query Return: <class 'list'>

[('1/2/2014', Decimal('37.16000'), Decimal('58.21000'), Decimal('50.01000')),
 ('1/3/2014', Decimal('36.91000'), Decimal('58.66000'), Decimal('50.13000')),
 ('1/6/2014', Decimal('36.13000'), Decimal('59.00000'), Decimal('50.32000')),
 ('1/7/2014', Decimal('36.41000'), Decimal('58.32000'), Decimal('50.20000')),
 ('1/8/2014', Decimal('35.76000'), Decimal('58.87000'), Decimal('49.50000')),
 ('1/9/2014', Decimal('35.53000'), Decimal('58.76000'), Decimal('49.61000')),
 ('1/10/2014', Decimal('36.04000'), Decimal('58.49000'), Decimal('50.52000')),
 ('1/13/2014', Decimal('34.98000'), Decimal('57.70000'), Decimal('49.58000')),
 ('1/14/2014', Decimal('35.78000'), Decimal('57.74000'), Decimal('50.40000')),
 ('1/15/2014', Decimal('36.76000'), Decimal('59.49000'), Decimal('50.64000'))]

In [6]:
# Raw Converted DataFrame 
data_df = pd.DataFrame(qry_return)
data_df.head()

          0         1         2         3
0  1/2/2014  37.16000  58.21000  50.01000
1  1/3/2014  36.91000  58.66000  50.13000
2  1/6/2014  36.13000  59.00000  50.32000
3  1/7/2014  36.41000  58.32000  50.20000
4  1/8/2014  35.76000  58.87000  49.50000

In [7]:
# Check Data Types
print(data_df.dtypes)

0    object
1    object
2    object
3    object
dtype: object

In [8]:
# Set Column Headers
data_df.columns = ["DATE", "MSFT", "JPM", "DIS"]
data_df.set_index("DATE", inplace=True)
data_df.head()

              MSFT       JPM       DIS
DATE
1/2/2014  37.16000  58.21000  50.01000
1/3/2014  36.91000  58.66000  50.13000
1/6/2014  36.13000  59.00000  50.32000
1/7/2014  36.41000  58.32000  50.20000
1/8/2014  35.76000  58.87000  49.50000

In [9]:
data_df = data_df.astype(float)
data_df.dtypes

MSFT    float64
JPM     float64
DIS     float64
dtype: object

In [ ]:
# Convert Data Type - Stock Price > Float
num_cols = "MSFT,JPM,DIS".split(',')
data_df[num_cols] = data_df[num_cols].astype(float)
data_df.dtypes

In [ ]:
log_returns = data_df.pct_change().iloc[1:]
log_returns.head()

In [ ]:
colors = "red,blue,green".split(',')
data_df.plot(color=colors, linestyle="solid", alpha=0.7, figsize=(9, 6))
plt.grid(axis="y", color="gray", alpha=0.75, linestyle="dashed")
plt.title("Stock Performance (Individual)")
plt.ylabel("Performance")
plt.xlabel("Date")
plt.show()

In [ ]:
data_df.head()

In [ ]:
len(data_df.columns)

In [ ]:
portfolio_log = simulate_portfolios(data_df)

In [ ]:
print(type(portfolio_log), len(portfolio_log))

In [ ]:
portfolio_log[:25]

In [ ]:
ben_data = []
for i, sim in enumerate(portfolio_log[:20]):
    group_data = {'x':sim["Variance"], 'y':sim["Return"]}
    ben_data.append(group_data)
    
ben_data

In [ ]:
convert_list = "amber,ben,ryan".split(',')

In [ ]:
",".join(convert_list)

In [ ]:
convert_list.upper()

In [ ]:
convert_list[0] = "hello"

In [ ]:
convert_list.insert(0, "amber")

In [ ]:
convert_list